{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

{% with n_messages=messages|length %}

<h1>Messages</h1>
{% url 'message_detail' as message_detail %}

<h2>Hi {{ user}}, you have {% if n_messages == '0' %}no{% else %}{{ n_messages}} messages!{% endif %}</h2>
<h3></h3>

{% for message in messages %}
    <div class="message">
        <a href="{% url 'message_detail' pk=message.id %}">
            {{ message.subject }} from {{ message.sender }}
        </a>
    </div>
{% endfor %}

{% endwith %}
    <!-- Creating New Messages -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
            <h3>Write a message:</h3>
            <p>Writing as: {{ user.username }}</p>
            <form id="messageForm" method="post"
            style="margin-top: 1.3em;">
            {{ message_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
                class="btn btn-signup btn-lg">Submit</button>
            </form>
        </div>
    </div>

{% endblock content %}